.btn {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 12.5rem;
    height: 3.125rem;

    border-radius: 0.25rem;
    background-color: $color-btn-gray;
    color: $color-black;

    box-shadow: $box-shadow-btn;

    text-align: center;
    
    font-weight: $font-w-700;
    line-height: 1.875rem;
    letter-spacing: 0.06rem;

    cursor: pointer;

    &-active {
        color: $color-white;
        background-color: $color-blue;
    }

    &:hover {
        color: $color-white;
        background-color: $color-blue-darken;
    }
}