.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    &__team {
        &_item {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: calc(100% / 4 - 1rem);

            border-radius: 0rem 0rem 0.25rem 0.25rem;
            background-color: $color-white;
            box-shadow: $box-shadow-team;

            &-img {
                width: 100%;
                border-radius: 0.25rem 0.25rem 0 0;
            }

            &-title {
                margin-top: $m-2;

                font-size: $font-18;
                font-weight: $font-w-500;
                letter-spacing: 0.03rem;
                
                color: $color-black;
            }

            &-text {
                margin: $m-0-5 0 $m-1 0;
                font-size: $font-14;
                font-weight: $font-w-400;
                color: $color-gray;

                letter-spacing: 0.05rem;
            }

            &-list {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 2rem 2rem 2rem;

                &--item {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    
                    width: 100%;

                    padding: 1rem;
                    margin: 0 0.5rem;

                    width: calc(100% / 4);

                    border-radius: 50%;

                    &:hover {
                        background-color: $color-blue;
                        cursor: pointer;
                        transition: all 0.3s ease-in-out;

                        .svg__team {
                            fill: $color-white;
                        }
                    }
                }
            }
        }
    }
}