.footer {
  background-color: $color-dark-gray;
  
  &__content {
    display: flex;
    justify-content: start;
    align-items: center;

    padding: $p-2 $p-10;

    &_item {
      width: calc(100% / 4 - 2rem);

      display: flex;
      flex-direction: column;

      &-subtitle {
        color: #FFF;
        font-size: $font-14;
        font-weight: $font-w-700;
        letter-spacing: 0.42px;
        text-transform: uppercase;
      }

      &-text {
        color: $color-white;
        opacity: 0.6;
        font-size: $font-14;
        font-weight: $font-w-400;
        line-height: 24px;
        letter-spacing: 0.42px;

        &--title {
          opacity: 1;
          color: $color-white;
          margin-top: $m-1;
        }
      }
    }
  }
}