.header {
  width: 100%;

  &__container {
    background: linear-gradient(rgba(47, 48, 58, 0.40), rgba(47, 48, 58, 0.40)),url(../../images/background-header.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 20rem 0;
  }

  &__title {
    color: $color-white;
    text-align: center;

    font-size: $font-44;
    font-family: $font-family-roboto;
    font-weight: 900;
    line-height: 60px;
    letter-spacing: 2.64px;
    text-transform: uppercase;

    margin-bottom: $m-2;
  }

}