.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 70%;
  margin: 0 auto;
  padding: 2rem;

  &__logo {
    display: flex;
    align-items: center;

    &-blue {
      color: $color-blue;
    }
  }

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-item {
      font-size: $font-14;
      font-weight: $font-w-500;
      letter-spacing: 0.28px;

      color: $color-dark-gray;
      text-decoration: none;
      margin-left: $m-1;
      transition: all 0.3s ease-in-out;

      &:hover {
        color: $color-black;
      }
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-gray;
    margin-left: $m-25;
  }

  &-link {
    font-size: $font-14;
    font-weight: $font-w-500;
    letter-spacing: 0.28px;

    text-decoration: none;
    margin-left: $m-2;
    transition: all 0.3s ease-in-out;

    &--black {
      color: $color-black;
    }

    &--gray {
      color: $color-gray;
    }

    &--logo {
      font-size: $font-26;
      font-weight: $font-w-700;
      font-family: $font-family-ralewey;
  
      color: $color-black;
      letter-spacing: 0.78px;
      text-decoration: none;
    }

    &:hover:not(#logo) {
      color: $color-blue;
    }
  }
}