@import './reset';
@import './variables';
@import './svg';

@import './btn';
@import './cards';

@import './header';
@import './navbar';

@import './sections';
@import './footer';

body {
  font-family: $font-family-roboto;
}

.bg-gray {
  background-color: $color-btn-gray;
  padding-bottom: $p-2;
}

.white {
  color: $color-white;
}